<%- include('header') -%>

  <h1 class='loginh1'>The Register Page</h1>

  <div>
    <form method='post' action='/register'>
      <div id='usernamediv'>
        <label for="usernameinput" id='usernamelabel'>Enter Username:</label>
        <input type="text" id="usernameinput" name="username" value="<%= username %>">
      </div>

      <div id='passworddiv'>
        <label for="passwordinput" id='passwordlabel'>Enter Password:</label>
        <input type="password" id="passwordinput" name="password" value="<%= password %>">
      </div>

      <div id='passwordagaindiv'>
        <label for="passwordagaininput" id='passwordagainlabel'>Enter Password Again:</label>
        <input type="password" id="passwordagaininput" name="passwordAgain" value="<%= passwordAgain %>">
      </div>

      <button type="submit" class='loginbutton'>Register</button>
    </form>
  </div>

  <%- include('flashMessage') -%>